* {
    margin:0px;
    padding:0px;
}
html {
    color:#222;
    max-width:800px;
    margin:0px auto;
    padding-bottom:20px;
    font-size:16px;
    font-family: sans-serif;
}
body {
    margin:0px 5px;
}
h1,h2,h3,p,ul,ol,li {
    margin:10px 0px;
    clear:both;
}
h1,h2,h3 {
    color:#333;
    font-weight:normal;
    font-size:1.5em;
}
h1 {
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
    font-size:1.8em;
}
img {
    display:block;
    max-width:100%;
    height:auto;
    margin:0px auto;
}



/* Dev styles */

/*
html {
    background-color:yellow;
}
body {
    background-color:limegreen;
}
*/
