* {
    margin:0px;
    padding:0px;
}
html {
    color:#222;
    max-width:1000px;
    margin:0px auto;
    font-size:14px;
    font-family: sans-serif;
    background-color:#eee;
}
body {
    padding:0px 10px;
    background-color:#fff;
    border-radius:2px;

}
h1,h2,h3,p,aside,ul,ol,li {
    margin:2px 0px;
    clear:both;
}
textarea, button, input {
    font-size:1.2em;
    font-family:serif;
    color:#444;
}
button {
    margin:0px 4px;
    clear:both;
}
button {
    cursor:pointer;
}
h1,h2,h3 {
    color:#333;
    font-weight:normal;
    font-size:1.5em;
}
h1 {
    padding:15px 0px;
    text-align:center;
    font-size:1.1em;
    background-color:grey;
    color:#eee;
    width:400px;
    max-width:100%;
    margin:0px auto;
    border-radius:0px 0px 15px 15px;
}
a.backToTop {
    position:fixed;
    bottom:5px;
    right:5px;
    color:white;
    background-color:#f29976;
    padding:4px 8px;
    text-align:center;
    text-decoration:none;
    font-size:1.3em;
    opacity:.8;
}
a.backToTop:hover {
	opacity:1;
}
section {
    padding:8px 0px;
    display:block;
    clear:both;
}
li {
    list-style:none;
    float:left;
    margin:2px;
    clear:none;
}
section#colors label {
    width:40px;
    height:30px;
    background-color:grey;
    border:1px solid #222;
    border-radius:2px;
    display:block;
    float:right;
    margin-left:4px;
    margin-right:4px;
}
section#yell input {
    margin:2px auto;
    display:block;
    width:550px;
    max-width:90%;
}
section#saveImage input {
    margin-left:2px;
}
section#imagePreview h2 {
    float:left;
}
section#imagePreview button {
    float:right;
    clear:none;
}
div#imageGoesHere {
    clear:both;
    background-color:#ddd;
    width:400px;
    height:360px;
    margin:0px auto;
}
p.hint {
    color:#666;
    text-indent:10px;
}
img#myImage {
    display:block;
    clear:both;
    margin:0px auto;
    width:400px;
    height:auto;
}
p#imgDescription {
    padding:20px;
    background-color:#ddd;
    border-radius:2px;
    text-indent:10px;
}
#hiddenDiv, #hiddenCanvas {
    display:none;
}
.hidden {
    visibility:hidden;
}
.socialMediaList img {
    width:50px;
    height:50px;
}

/* Dev colors */
/*
html {
    background-color:cyan;
}
body {
    background-color:limegreen;
}
section {
    background-color:yellow;
}
*/
